// mixins
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @mixin responsive-width($max-width) {
    max-width: $max-width;
    margin: 0 auto;
  }
  
  @mixin box-style($color) {
    background-color: $color;
    box-shadow: $box-shadow-light;
    border-radius: $border-radius;
  }
  